header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(32.43, 30.88, 44.81);
}

.header__Container {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__Title {
	display: flex;
	align-items: center;

	.logo {
		width: 120px;
		height: 120px;
	}

	.title {
		font-size: 1.5rem;
		text-transform: uppercase;
		line-height: 1em;
		padding-top: 0.5em;

		span {
			color: #ffc700;
		}
	}
}

.glowna {
	text-transform: uppercase;
	font-size: 1.1rem;
	padding-left: 3em;
}
.header__Login {
	text-transform: uppercase;
	font-size: 1.1rem;
}
